/* ENDSTAND ANIMATIONS */
.anim-wrapper-endstand {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

/* Inner wrapper: horizontal layout of items */
.endstand-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px 40px;
}

.team-score-endstand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle-endstand{
    width: 80px;
    height: 80px;
    font-size: 40px;
}